/* CSS Document */
@font-face {
  font-family: "SFProText-Light";
  src: url("../fonts/SFProText-Light.woff") format("woff");
}
@font-face {
  font-family: "SFProText-Regular";
  src: url("../fonts/SFProText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SFProText-Medium";
  src: url("../fonts/SFProText-Medium.woff") format("woff");
}


*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
nav{
  position: fixed;
  width: 100vw;
  height: 48px;
  display: flex;
  justify-content: center;
}
nav .bg{
  background: rgba(0,0,0,.8);
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: saturate(150%) blur(25px);

}

nav .mainnav{
  position: relative;
  height: 100%;
  z-index: 100;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  max-width: 980px;
}
nav .mainnav .desktopview{
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "SFProText-Light";
}
nav .mainnav .desktopview a{
  text-decoration: none;
  color: #d6d6d6;
  font-size: .85em;
}
nav .mainnav .desktopview a:hover{
  color: #ffffff;
}
nav .mainnav li{
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
nav .mainnav li:last-child{
  padding-right: 1.5em;
}

nav .mainnav svg{
  width: 18px;
  height: 100%;
  fill:#d6d6d5;
}
nav .mainnav svg:hover{
  fill:#ffffff;
}

nav .burger{
  position: relative;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
nav .burger span{
  position: absolute;
  width: 100%;
  height: 1px;
  background: #d6d6d6;
}
nav .burger span{
  top: calc(30% - 1px);
  transition: .3s;
}
nav .burger span + span{
  top: calc(70%);
}
nav .burger:hover span{
  background: #ffffff;
}

nav .burger .clicked:first-of-type{
  top: calc(50%);
  transform: rotate(-45deg);
}
nav .burger .clicked:nth-child(2){
  top: calc(50%);
  transform: rotate(45deg);
}



nav .expand{
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 48px;
  background: black;
  color: white;
  width: 100%;
  font-family: "SFProText-Light";
  z-index: 90;
  transform: translateY(-100%);
  transition: .8s;
}
nav .clicked{
  transform: translateY(0%);
}
nav .expand ul{
  border-top: 1px solid #424245;
  padding: 0em 1em 1em 1em;
  position: relative;
  opacity: 0;
  transition: .5s .3s;
}
nav .clicked ul{
  opacity: 1;
}
nav .expand li{
  padding: 0em 0em;
  transition: .5s .3s;
  list-style-type: none;
}
nav .clicked li{
  padding: 1em 0em;
}
nav .expand li + li{
  border-top: 1px solid #424245;
}

nav .expand li a{
  color: #cccccc;
  text-decoration: none;
}
nav .expand li a:visited{
  /* color:white; */
}
nav .expand li a:hover{
  color:white;
}
nav .expand li a:hover{
  /* color:white; */
}

.tiny{
  display: block;
}

main{
  padding-top: 48px;
}
main .blacksection{
  background: black;
  color: #f5f5f7;
}
main .whitesection{
  background: #fbfbfd;
  color: #1d1e20;
}
main section{
  text-align: center;
  overflow-x: hidden;
}
main section:not(:first-child){
  margin-top: 1em
}
main section p{
  color: #86868b;
  font-family: "SFProText-Light";
  padding-top: 1em;
}
main section h2{
  font-family: "SFProText-Regular";
  padding-top: 1.2em;
  font-size: 2em;
}
main section h3{
  font-family: "SFProText-Light";
  font-size: 1.2em;
  padding-top: .3em;
}

main section .buttons{
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main section .buttons a{
  text-decoration: none;
  font-family: "SFProText-Light";
  font-size: 1.2em;
  margin: .5em;
}
main .blacksection .buttons a{
  color: #2997ff;
}
main .whitesection .buttons a{
  color: #0066cc;
}
main section .buttons a:Hover{
  text-decoration: underline;
}

main section .sectionimg{
  /* position:; */
  width: 100%;
  height: 250px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 1em;
}
main section:first-of-type .sectionimg{
  background-image: url(../images/12pro.jpg);
}
main section:nth-of-type(2) .sectionimg{
  background-image: url(../images/12.jpg);
}
main section:nth-of-type(3){
  padding-bottom: 1em;
}

main section:nth-of-type(3) .sectionimgcontainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2em);
  left: 50%;
  margin-left: 1em;
}
main section:nth-of-type(3) .sectionimgcontainer img{
  width: calc(100% - 2em);
  margin-top: 2em;
  max-width: 300px;
}




footer{
  background:#f5f5f7;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top: 1em;
  font-size: .93em;
}
footer a{
  color: #515154;
  text-decoration: none;
  font-family: "SFProText-Light";
  transition: .3s
}
footer a:hover{
  color: black;
  text-decoration: underline;
}
footer section{
  width: calc(100% - 2em);
  max-width: 1000px;
  border-bottom: 1px solid #d2d2d7;
  font-size: .8em;
  padding: 2em 0 1em 0;
}
footer section:last-child{
  padding: 1em 0 2em 0;
}
footer section p{
  color:#86868b;
  font-family: "SFProText-Light";
}
footer section ul{
  list-style-type: none;
}
footer section ul li{
  padding-bottom: 1em;
}
footer section:nth-of-type(2) p:last-of-type{
  padding-top: 3em;
}
footer section:nth-of-type(2) p:last-of-type a{
  color: #06c;
}
footer section:nth-of-type(2) p:last-of-type a:hover{
  color: #06c;
  text-decoration: underline;
}
footer section:nth-of-type(2) div{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
}
footer section:nth-of-type(2) div .footersectionrows{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer section:nth-of-type(2) div .footersectionrows h3 span{
  transition: .3s;
}
footer section:nth-of-type(2) div .footersectionrows .active span{
  transform: rotate(45deg);
}
footer section:nth-of-type(2) h3{
  font-size: 1em;
  color: black;
  font-family: "SFProText-Medium";
  padding-bottom: 1em;
}
footer section:nth-of-type(2) h3 span{
  display: none;
}
footer section:nth-of-type(2) h3:not(:first-child){
  padding-top: 1em;
}
footer section:last-of-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer section:last-of-type div{
  display: flex;
  flex-direction: row;
}



@media only screen and (min-width: 740px) {
  .tiny{
    display: none;
  }
  main section{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  main section p{
    font-size: 1.1em;
  }
  main section p + p{
    padding-top: .2em;
  }
  main section h2{
    font-family: "SFProText-Regular";
    padding-top: 1.2em;
    font-size: 2.8em;
  }
  main section h3{
    font-family: "SFProText-Light";
    font-size: 1.4em;
    padding-top: .3em;
  }


  main section .sectionimg{
    height: 400px;
    width: 150%;

  }
  main section:first-of-type .sectionimg{
    background-image: url(../images/12probig.jpg);
  }
  main section:nth-of-type(2) .sectionimg{
    background-image: url(../images/12big.jpg);
  }
  main section:nth-of-type(3) .sectionimg{
  width: 400px;
  }
}



@media only screen and (min-width: 768px) {
  nav{
    height: 44px;
    padding: 0em 0em;
  }
  nav .mainnav svg{
    width: 16px;
  }
  nav .mainnav .desktopview{
    display: flex;
  }
  nav .mainnav li{
    width: 44px;
    height: 44px;
  }
  nav .mainnav li:first-child{
    display: none;
  }
  main{
    padding-top: 44px;
  }
}

@media only screen and (min-width: 780px) {
  main section:nth-of-type(3) .sectionimgcontainer{
    flex-direction: row;
    justify-content:center;
    width: calc(100% - 2em);
    margin-left: 0em;
  }
  main section:nth-of-type(3) .sectionimgcontainer img{
    width: calc(100% - 2em);
    margin: 1em 1em;
    width: calc(100vw / 3.5);
  }
}




@media only screen and (max-width: 780px) {
  footer section:nth-of-type(2) div{
    flex-direction: column;
  }
  footer section:nth-of-type(2) div .footersectionrows {
    width: 100%;
  }
  footer section:nth-of-type(2) h3{
    font-size: .95em;
    color: black;
    font-family: "SFProText-medium";
    padding: .7em 0 .7em 0 !important;
    border-top: 1px solid #d2d2d7;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer section:nth-of-type(2) .first{
    border-top: none;
  }
  footer section:nth-of-type(2) h3 span{
    transition: .3s;
    display: block;
  }
  footer section:nth-of-type(2) div ul{
    display: none;
    padding: 1em 0 1em 1em;
  }
}
